@charset "UTF-8";

*, *:before, *:after {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

html, body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 36px;
  background-color: black;
  color: white;
  font-weight: 400;
}

a{
  color: white;
}

.fail {
  background: red;
}

.success {
  background: #03ad00;
}

.gameboard {
  scroll-snap-align: start;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100vw;
}

.number {
  cursor: pointer;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  width: 1.75rem;
  text-align: center;
  padding: 0.3em 0;
}

.mask .number {
  color: black;
}

.mask .number:before {
  content: "";
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  background: #ededed;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.info{
  position: absolute;
  top: 0;
  font-size: 0.5rem;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  border: 3px solid white;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  padding-top: 0.1rem;
  text-decoration: none;
  opacity: 0.25;
  font-weight: 600;
}

footer h1{
  font-style: italic;
  display: inline-block;
}

footer{
  scroll-snap-align: end;
  padding: 0.5rem;
  width: 100%;
  background: #242424;
}